@model DHebert_EYCTest.Models.Invoice
@{
    Layout = null;
}
<div>
    <center>
        <span>
            @Html.HiddenFor(x => x.SupplierId)
            <h2>@Html.DisplayFor(model => model.SupplierName)</h2>
        </span>
    </center>
    @Html.Partial("LineItems", Model.LineItems)
</div>
